* {
    box-sizing: border-box;
}

body{
    font-family: 'Shabnam' , 'Vazir';
    position: relative;
    background-color: #dee2e6; 
}

#app{
    display: grid;
    grid-template-rows: min-content minmax(100vh , auto) min-content;
}

.site-background { /* main */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/machineries-background.jpg"); /* Site Background */
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ////////////////////////////////////////////////////// HEADER ////////////////////////////////////////////////////// */

.header-images-box{
    background: rgba(255 , 255 , 255 , 0.7);
}

header > nav {
  background-color: rgba(255, 255, 255, 0.75);
}

/* ////////////////////////////////////////////////////// SECTIONS ////////////////////////////////////////////////////// */

.section-hr-r{
    height: 1px;
    border-radius: 3rem 100% 100% 3rem;
    background-color: rgb();
    background: linear-gradient(90deg, rgba(210 , 105 , 30 , 1), rgba(210 , 105 , 30 , 0));
}

.section-hr-l{
    height: 1px;
    border-radius: 100% 3rem 3rem 100%;
    background-color: rgb();
    background: linear-gradient(90deg, rgba(210 , 105 , 30 , 0), rgba(210 , 105 , 30 , 1));
}

.zoom:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.zoom:not(:hover) {
    transform: scale(1);
    transition: 0.2s;
}

/* ///////////////////////////////////////////////////// LOADING ///////////////////////////////////////////////////// */

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid darkblue;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* //// for comments */
  
  .spin::before {
    animation: spin 1.5s ease-in-out infinite;
    animation-direction: reverse;
  } 

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

/* ///////////////////////////////////////////////////// FOOTER ///////////////////////////////////////////////////// */

.instagram-link{
  color: #d6249f !important;
}

.instagram-link:hover{
  color: #ff2dbd !important;
}

.contanct-us-link{
  color: green !important;
}

.contanct-us-link:hover{
  color: rgb(0, 181, 0) !important;
}

/* ///////////////////////////////////////////////////// MACHINERIES ///////////////////////////////////////////////////// */

.machinery-card {
  max-width: 540px; 
}

@media only screen and (max-width: 767px){
  .machinery-card{
    max-width: 250px;
  }
}

/* ///////////////////////////////////////////////////// Ribbons ///////////////////////////////////////////////////// */

.ribbon {
  z-index: 1;
  width: 200px;
  padding: 5px;
  position: absolute;
  text-align: center;
  color: #f0f0f0;
  box-shadow: 10px 0 10px 0 rgb(127, 127, 127);
}

/* Positions */

.ribbon-top    { top: 30px; }
.ribbon-left   { left: -50px; }

/* Rotations */

.ribbon-top.ribbon-left
 {
  transform: rotate(-45deg);
}